<div>
  <mat-card class="input" [style.background]="toggleColor(color1)">
    <form [formGroup]="newNoteForm">
      <mat-form-field appearance="legacy" (click)="expandOn()">
        <mat-label>Take a Note</mat-label>
        <h1>
          <textarea
            matInput
            placeholder="Title"
            autocomplete="off"
            formControlName="title"
            cdkTextareaAutosize
            cdkAutosizeMaxRows="4"
            maxlength="999"
          ></textarea>
        </h1>
      </mat-form-field>

      <mat-form-field appearance="legacy" *ngIf="edited" floatLabel="never">
        <textarea
          matInput
          placeholder="Description"
          autocomplete="off"
          formControlName="description"
          cdkTextareaAutosize
          cdkAutosizeMaxRows="10"
        ></textarea>
      </mat-form-field>
    </form>

    <div class="editIcon">
      <button mat-button>
        <mat-icon>color_lense_outline</mat-icon>
      </button>
      <mat-grid-list cols="4" rowHeight="45px" class="colorPickerGrid">
        <mat-grid-tile *ngFor="let color of colors" class="gridTile">
          <button
            mat-fab
            class="colorPicker"
            [ngStyle]="{
              'background-color': color,
              border: '1px solid color',
              'box-shadow': 'none'
            }"
            (click)="toggleColor(color)"
          ></button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <div class="container">
      <button mat-button color="basic" *ngIf="edited" (click)="doneNote()">
        Done
      </button>

      <button mat-button color="basic" *ngIf="edited" (click)="expandOff()">
        Cancel
      </button>
    </div>
  </mat-card>
</div>

<div>
  <mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let note of notes">
      <mat-card
        [style.background]="note.color"
        class="example-card"
        (click)="openDialog(note)"
      >
        <mat-card-title class="cardTitle">
          <p>{{ note.title }}</p>
        </mat-card-title>
        <mat-card-content class="cardDescription">
          <p>{{ note.description }}</p>
        </mat-card-content>

        <mat-card-actions class="editIconCard">
          <button mat-icon-button class="colorCard">
            <mat-icon>palette_outline</mat-icon>
          </button>

          <button mat-icon-button (click)="clearNote(note)" class="deleteNote">
            <mat-icon>delete_outline</mat-icon>
          </button>
          <button mat-icon-button (click)="openDialog(note)" class="openNote">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-grid-list cols="4" rowHeight="45px" class="colorPickerGridCard">
            <mat-grid-tile *ngFor="let color of colors">
              <button
                mat-fab
                class="colorPickerCard"
                [ngStyle]="{
                  'background-color': color,
                  border: '1px solid color',
                  'box-shadow': 'none'
                }"
                (click)="toggleColorCard(color, note)"
              ></button>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
