::ng-deep .mat-form-field-underline {
  display: none;
}

.input {
  margin: 10px 200px 10px 200px;
  padding: 10px 50px 10px 50px;
  border-style: initial;
  border-radius: 15px;
}

.container {
  text-align: right;
}

.mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: rgb(53, 53, 53);
}

.example-card {
  width: 88%;
  min-height: 100px;
  border-radius: 10px;
}

.note-div {
  width: 500px;
}

input:hover .mat-button-focus-overlay {
  opacity: 1 !important;
}

.mat-list-item:hover .mat-icon {
  display: block;
}

.innerIcon {
  border-radius: 15px;
}

.colorPickerGrid {
  background-color: white;
  width: 150px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
  display: none;
  position: absolute;
  bottom: 30px;
  left: 0px;
}

.editIcon {
  color: rgb(82, 82, 82);
  width: 10%;
}
.editIcon:hover .colorPickerGrid {
  display: block;
  background-color: rgb(255, 255, 255);
}

.editIcon:hover {
  color: rgb(0, 0, 0);
}

.colorPickerGridCard {
  background-color: white;
  width: 150px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 80%);
  display: none;
  position: absolute;
  bottom: 30px;
  left: 150px;
}

.colorPickerCard {
  height: 25px;
  width: 25px;
  border: 1px solid rgb(231, 231, 231);
}

.colorPickerGridCardEdit {
  background-color: white;
  width: 150px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 80%);
  display: none;
  position: absolute;
  bottom: 50px;
  left: 70px;
}

.colorPickerCardEdit {
  height: 25px;
  width: 25px;
  border: 1px solid rgb(231, 231, 231);
}

.example-card-edit:hover:hover .colorPickerGridCardEdit {
  display: block;
}

.editIconCard {
  position: absolute;
  right: 2%;
  top: 60%;
}

.colorCard {
  opacity: 50%;
}
.colorCard:hover {
  opacity: 80%;
}

.colorCardEdit {
  opacity: 50%;
}
.colorCardEdit:hover {
  opacity: 80%;
}

.example-card:hover .editIconCard {
  visibility: initial;
}
.editIconCard:hover .colorPickerGridCard {
  display: block;
  background-color: rgb(250, 250, 250);
}

.colorPicker {
  height: 25px;
  width: 25px;
  border: 1px solid rgb(231, 231, 231);
}

::ng-deep .mat-dialog-container {
  padding: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.openNote:hover {
  opacity: 80%;
}

.deleteNote:hover {
  opacity: 80%;
}

.openNote {
  opacity: 50%;
}

.deleteNote {
  opacity: 50%;
}

.saveNote:hover {
  opacity: 80%;
}

.cancelNote:hover {
  opacity: 80%;
}

.saveNote {
  opacity: 50%;
}

.cancelNote {
  opacity: 50%;
}
