<mat-card class="updateNoteCard" [style.background]="data.color">
  <div>
    <form [formGroup]="updateNoteForm" style="overflow: hidden">
      <h1 mat-dialog-title>
        <textarea
          matInput
          mat-dialog-title
          placeholder="Title"
          autocomplete="off"
          formControlName="title"
          cdkTextareaAutosize
          cdkAutosizeMaxRows="4"
          maxlength="999"
        >
        </textarea>
      </h1>

      <mat-dialog-content>
        <textarea
          matInput
          placeholder="Description"
          formControlName="description"
          cdkTextareaAutosize
          cdkAutosizeMaxRows="7"
        ></textarea>
      </mat-dialog-content>
    </form>
    <div mat-dialog-action align="right" class="example-card-edit">
      <button mat-icon-button class="colorCardEdit">
        <mat-icon>color_lense_outline</mat-icon>
      </button>
      <mat-grid-list cols="4" rowHeight="45px" class="colorPickerGridCardEdit">
        <mat-grid-tile *ngFor="let color of colors">
          <button
            mat-fab
            class="colorPickerCardEdit"
            [ngStyle]="{
              'background-color': color,
              border: '1px solid color',
              'box-shadow': 'none'
            }"
            (click)="toggleColorCard(color, data)"
          ></button>
        </mat-grid-tile>
      </mat-grid-list>

      <button mat-icon-button (click)="saveNote(data)" class="saveNote">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button [mat-dialog-close] class="cancelNote">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
